<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-img  src="assets/images/login-mi-app.svg" alt="login"></ion-img>
  <ion-item lines="full">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input placeholder="usuario" type="text" minlength="3" maxlength="8" [counter]="true" [(ngModel)]="user.usuario"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder="password" type="Password" minlength="4" maxlength="4" [counter]="true"  [(ngModel)]="user.password"></ion-input>
  </ion-item> 
</ion-content>

<ion-row>
<ion-col>
<ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>

</ion-col>

</ion-row>